<h1>{{title}}</h1>
<p>Welcome! This is a catalog of Natural Language Processing Analysis (NLP) conducted on film scripts. 
    The goal of these analyses are to investigate the usage of African American Vernacular English (AAVE) 
    used within comedy scripts to interrogate how AAVE is portrayed and implemented within popular media. </p>